body {
  max-height: 50px;
  background-color: #f6f6f9;
  width: 100%;
}

form {
  min-height: 500px;
}
/*  --- --  - - --  - - --  - - - --  - --   */

.sign-in_text {
  position: absolute;
  margin-left: 70px;
  margin-top: 40px;
}

.forma {
  text-align: center;
  margin-top: 110px;
}

.form-control {
  height: 10px;
  width: auto;
}

.form-floating {
  margin-top: 15px;
}

.form-button {
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 18px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #862ac1;
  color: white;
}

.form-button:hover {
  background-color: #862ac1;
  border-color: #862ac1;
}
